<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/virksomhed/virksomhed.css}" rel="stylesheet">
    <title>Inspiration til reduktion af madspild</title>
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>

<div class="container container-6">
    <div class="image">
        <img th:src="@{/images/virksomhed/GilbertStopwaste.jpg}" alt="Måling af Madspild">
    </div>
    <div class="content">
        <h1>Kampen Mod Madspild i Virksomheder</h1>
        <p>Virksomheder spiller en nøglerolle i kampen mod madspild, med initiativer der spænder fra forbedret forsyningskædestyring til forbrugeroplysning. Disse bestræbelser bidrager ikke alene til bæredygtighed, men forbedrer også virksomhedernes bundlinje og forhold til kunderne. En af disse virksomheder er GreenEats, der har taget bemærkelsesværdige skridt mod at reducere madspild. Her vil vi udforske, hvordan GreenEats, under ledelse af Gilbert Stopwaste, har implementeret innovative løsninger for at tackle dette globale problem.</p>
    </div>
</div>

<div class="container container-7">
    <div class="content">
        <h1>Hvorfor Reducere Madspild?</h1>
        <p>"I GreenEats forstår vi, at madspild er mere end blot spildte ressourcer; det er et spild af arbejde, tid og passion. Reducering af madspild er fundamentalt for at respektere både naturen og de mennesker, der arbejder med maden," forklarer Gilbert Stopwaste, leder af GreenEats.</p>
    </div>
    <div class="image">
        <img th:src="@{/images/virksomhed/Nature.jpg}" alt="Måling af Madspild">
    </div>
</div>

<div class="container container-8">
    <div class="image">
        <img th:src="@{/images/virksomhed/FoodCycle.jpg}" alt="Måling af Madspild">
    </div>
    <div class="content">
        <h1>Hvordan Vi Gør En Forskel</h1>
        <p>"Vores tilgang til at reducere madspild omfatter hele forsyningskæden, fra nøje udvælgelse af leverandører til innovative bevaringsmetoder og kundens deltagelse i at mindske spild. Det er en holistisk indsats, der kræver kreativitet og engagement," siger Gilbert Stopwaste.</p>
    </div>
</div>

<div class="container container-9">
    <div class="content">
        <h1>Den Mærkbare Forskel</h1>
        <p>"Siden vi implementerede vores initiativer mod madspild, har vi ikke blot set en reduktion i spild, men også en forøgelse i kundetilfredsheden og medarbejdernes stolthed. At se den direkte indvirkning af vores arbejde motiverer os til at fortsætte og udvikle," reflekterer Gilbert Stopwaste.</p>
    </div>
    <div class="image">
        <img th:src="@{/images/virksomhed/Pride.jpg}" alt="Måling af Madspild">
    </div>
</div>

<div th:replace="~{layouts/footer :: footer}"></div>

</body>
</html>
