<div th:fragment="footer">
  <link th:href="@{/andet/footer.css}" rel="stylesheet">
<div class="footerDiv">
  <ul class="footerUL">
    <p class="footer">All Copyrights By MadSpild.dk</p>
    <div class="SoMeIcons">
      <a class="a" href="http://www.facebook.com">
        <img th:src="@{/images/Footer/facebook.png}" class="SoMePicture"/>
      </a>
      <a class="a" href="http://www.instagram.com">
        <img th:src="@{/images/Footer/instagram.png}" class="SoMePicture"/>
      </a>
      <a class="a" href="http://www.twitter.com">
        <img th:src="@{/images/Footer/twitter.png}" class="SoMePicture"/>
      </a>
    </div>
  </ul>
</div>
</div>
