<div th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <title>Madspild</title>
        <link th:href="@{/andet/style.css}" rel="stylesheet">
        <link th:href="@{/andet/header.css}" rel="stylesheet">
    </head>
    <div class="headerDiv">
        <ul class="navbar">
            <a th:href="@{/}" class="a">
                <img th:src="@{/images/welcome/danish-flag-logo.png}" class="logo" alt="logo"/>
            </a>
            <div class="dropdown">
                <button class="navbarButton" >Forbruger</button>
                <div class="dropdown-content">
                    <a th:href="@{/forbruger}" class="a">
                        <button class="navbarButton"> Tips Og Tricks</button>
                    </a>
                    <a th:href="@{/forbruger}" class="a">
                        <button class="navbarButton"> Opskrifter</button>
                    </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="navbarButton" >Virksomhed</button>
                <div class="dropdown-content">
                    <a th:href="@{/virksomhed}" class="a">
                        <button class="navbarButton">Tips Og Tricks</button>
                    </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="navbarButton" >Organisation</button>
                <div class="dropdown-content">
                    <a th:href="@{/organisation}" class="a">
                        <button class="navbarButton">Hvad Kan Vi Gøre?</button>
                    </a>
                </div>
            </div>
            <a th:href="@{/omOs}" class="a">
                <button class="navbarButton"> Os</button>
            </a>
            <a th:href="@{/kontaktOs}" class="a">
                <button class="navbarButton"> Kontakt</button>
            </a>
        </ul>
        <div class="SoMeIcons">
            <a class="a" href="http://www.facebook.com">
                <img th:src="@{/images/Footer/facebook.png}" class="SoMePicture" alt="FacebookLogo"/>
            </a>
            <a class="a" href="http://www.instagram.com">
                <img th:src="@{/images/Footer/instagram.png}" class="SoMePicture" alt="InstagramLogo"/>
            </a>
            <a class="a" href="http://www.twitter.com">
                <img th:src="@{/images/Footer/twitter.png}" class="SoMePicture" alt="TwitterLogo"/>
            </a>
        </div>
    </div>
</div>
