* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(ButtonFace, #93c47d, #274e13);
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: space-between;
}
.container {
  width:100%;
  padding: 50px 0;
}
.container-1 { background: linear-gradient(to right, #39592b, #9fd188); }
.container-2 { background: linear-gradient(to right, #1c5c2f, #659672); }
.container-3 { background: linear-gradient(to right, #8fbd9d, #178f3b); }
.container-4 { background: linear-gradient(to right, #3d6e57, #7bc9a5); }
.container-5 { background: linear-gradient(to right, #40704d, #6ab87f); }
.container-6 { background: linear-gradient(to right, #88bd95, #385917); }

.text-box {
  text-align: center; /* Center align the text */
  color: #ffffff; /* Set text color to white */
  padding: 15% 20px;
}

.text-box h1{
  font-size: 50px;
  color: #d4ab0b;
  margin-bottom: 20px;
}
.text-box p{
  margin: 10px 5px 20px ;
  font-size: 20px;
  color: #152e57;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

/*---- Bekæmpelse af Madspild ---*/
.course{
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 30px;
  color: #fff3f3;
  font-family: Georgia, sans-serif;
}
p{
  color: #152e57;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}
.row{
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}
.course-col{
  flex-basis: 30%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 10%;
  padding: 40px 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 500;
  margin: 10px 0;
}
.course-col:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.7);
}

/*--------Fakta om madspild -----*/
.campus{
  width: 90vw;
  height: 100vh;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 90px;
}
/* --- Billedet --*/
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.campus-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img{
  width: 100%;
  height: auto;
  transition: opacity 0.2s ease;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
}
.layer{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(226, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  transform: translate(-50%,-50%);
}
.campus-col:hover img {
  opacity: 0.3;
}
.layer:hover {
  /*background: rgba(226, 0, 0, 0.7);*/
  opacity: 1;
}
.layer h3{
  width: 100%; /* Dette sætter elementets bredde til at strække sig 100% af bredden af dets container.*/
  font-weight: 500; /* Dette bestemmer tykkelsen af ​​teksten. En værdi på 500 svarer normalt til "medium" vægt, hvilket betyder en mellemliggende vægt mellem normal og fed.*/
  color: #152e57;
  font-size: 26px;   /* Dette angiver størrelsen på teksten til 26 pixels.*/
  bottom: 0;    /*Dette positionerer bunden af elementet til at være på niveau med bunden af dets container.*/
  left: 50%;  /*Dette positionerer venstre kant af elementet til at være 50% inde i dets container.*/
  transform: translateX(-50%); /*Dette anvender en transformation, der flytter elementet 50% af sin egen bredde mod venstre. Dette bruges normalt i forbindelse med left: 50%; for at centrere elementet vandret i forhold til dets container.*/
  position: absolute; /*Dette positionerer elementet relativt til dets nærmeste positionerede forælderselement.*/
  transition: 0.5s;
}
.layer:hover h3{  /* teksten i boksen*/
  bottom: auto;
  /*opacity: 1;*/
  color: white;
  font-size: 16px; /* Juster skriftstørrelsen efter dine behov */
  text-align: center;
  padding: 16px 32px; /* Juster indvendig padding efter dine behov */
}

/*---Effektiv madlavning med indkøbslister ---*/
.facilities{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 90px;
  font-family: "Georgia", cursive;
  font-style: italic;
}
.facilities-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  color: black;
}
.facilities-col img{
  width: 100%;
  border-radius: 100px;
}
.facilities-col p{
  padding: 0;
  color: #2f4f82;
  font-size: 15px;

}
.facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* ---Grønne Genveje---*/
.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  color: #fff3f3;
}
.testimonials-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 10%;
  text-align: left;
  background: rgba(232, 225, 95, 0.5);
  padding: 20px; /* Adjusted padding */
  cursor: pointer;
  display: flex;
  height: auto; /* Changed height to auto */
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Added box shadow */
}

.testimonials-col img {
  height: 70px;
  margin-left: 10px;
  margin-right: 20px; /* Adjusted margin */
  border-radius: 50%;
}

.testimonials-col p {
  padding: 0;
  margin: 10px 0; /* Adjusted margin */
  overflow: hidden;
  text-overflow: ellipsis;
}
.testimonials-col h3 {
  margin-top: 10px; /* Adjusted margin */
  text-align: left;
  font-size: 18px; /* Adjusted font size */
}
.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.btn-link:hover {
  background-color: #e0e0e0;
}

/* -- Kontakt --*/
.cta{
  margin: 10% auto;
  width: 80%;
  background-image: linear-gradient(
    rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1{
  color: #f44336;
  margin-bottom: 40px;
  padding: 0;
}
