.footerDiv {
    background: #ffffff;
    height: 2.5vw;
    font-size: 13px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.footerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brandLogo {
    height: 2.3vw;
    width: 15vw;
    background: white;
    margin-left: 0.5vw;
    margin-bottom: 0
}
