.footerDiv{
    height: 1vw;
    background-color: white;
    margin-bottom:0;
}

.footerUL{
    background-color: white;
    list-style-type: none;
    margin: 0;
    width: 100%;
    display: flex;
}

.footer{
    margin-bottom: 0;
    color:black;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left:1%;
    font-weight: 700;
    letter-spacing: 2px;
}
