*{
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

.welcome{
    background-image: url("../images/forside/clean2.png ");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 95.4vh;
    width: 100%;
}

.welcomeText
{
    padding-left: 75px;
    height: 300px;
    padding-top: 120px;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: #ffffff;
    text-shadow:    -1px 1px 0 #ffffff,
                    1px 1px 0 #ffffff,
                    1px -1px 0 #ffffff,
                    -1px -1px 0 #ffffff;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.welcomeSpan{
    color: #ffffff;
    text-shadow:    -1px 1px 0 white,
    1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.a {
    text-decoration: none;
}


