*{
    margin: 0;
    padding: 0;
    font-family: Arial, serif;

}

body{
    background-color:#1E1C1C;
}

.welcome{
    background-image: url("../images/welcome/background.bmp ");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 87vh;
    width: 100%;
}

.welcomeText
{
    padding-left: 75px;
    height: 300px;
    padding-top: 120px;
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: #1f145e;
    text-shadow:    -1px 1px 0px #aeb8fe,
                    1px 1px 0 #aeb8fe,
                    1px -1px 0 #aeb8fe,
                    -1px -1px 0 #aeb8fe;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

.welcomeSpan{
    color: #aeb8fe;
    text-shadow:    -1px 1px 0px white,
    1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.subWelcomeText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    font-size: 3vw;
    text-align: end;
    margin-left: 60%;
    background-clip: content-box;
    width: 35vw;
    height: 14vw;
    color: #1f145e;
    border-radius: 10%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    text-shadow:    -1px 1px 0px white,
    1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.a {
    text-decoration: none;
}


