*{
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

body{
    background-color:black;
}

.button{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navbar{
    list-style-type: none;
    margin: 0;
    background-color: black;
    height: 75px;
    width: 100%;
}

.footerUL{
    list-style-type: none;
    margin: 0;
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
}

.footer{
    display: flex;
    align-items: center;
    text-align: center;
    color:white;
    margin-left:1%;
}

.navbarList{
    display: inline;

}

.logo{
    height: 20px;
    width: 25px;
}

.navbarButton{
    margin: 0;
    border: none;
    height: 75px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: black;
}

.navbarButton:hover{
    background-color: gray;
}

.dropdown {
    height: 60px;
    width: 100px;
    margin: 0;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: black;
}

.dropdown-content {
    color: white;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    background-color: gray;
    display: block;
}

.dropdown:hover{
    background-color: gray;
}

.welcome{
    background-image: url("images/madspild.jpg ");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60vw;
    width: 100%;
}

.welcomeText
{
    margin-left: 10%;
    padding-top: 150px;
    background-clip: content-box;
    margin-right: 55%;
    background-color: beige;
    color: chartreuse;
    font-size: 7vw;
}

.box{
    display: flex;
    align-items: center;
}

.showRightImage{
    height: 60vw;
    width: 50%;
}


.showRightText{
    width: 50%;
    text-align: center;
    color: white;
}


.showLeftImage{
    height: 60vw;
    width: 50%;
}

.showLeftText{
    text-align: center;
    color: white;
    width: 50%;
}

