body, html {
    margin: 0;
    font-family: "Arial", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12vw;
    color: white;
    min-height: 45vh;
}

.container-3 {
    display: flex;
    justify-content: center;
}

.subFrivillig {
    margin-top: 20vw;
    width: 100%;
    text-align: center;
    font-size: 2vw;
}




.container-1 { background: linear-gradient(to right, #6A097D, #D40C52); padding: 10vw; }
.container-2 { background: linear-gradient(to right, #393e46, #2b2d42); padding: 10vw; }
.container-3 { background: linear-gradient(to right, #56CCF2, #2F80ED); padding: 10vw; }
.container-4 { background: linear-gradient(to right, #4A00E0, #8E2DE2); padding: 10vw; }
.container-5 { background: linear-gradient(to right, #7c6e9c, #05d348); padding: 10vw; }

.content {
    max-width: 70%;
    text-align: center;
}

h1 {
    font-size: 2.3vw;
    margin-bottom: 1.5vw;
}

p {
    font-size: 1vw;
    line-height: 2vw;
    margin-bottom: 2vw;
}

.container img{
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
    display: flex;
    border-radius: 20px;
    margin: 0 auto;
}


@media (max-width: 800px) {
    .container {
        padding:6vw;
    }

    h1 {
        font-size: 2.8vw;
    }

    p {
        font-size: 1.8vw;
    }
}