body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

h1 {
    font-size: 24px;
    color: white;
}

p {
    font-size: 16px;
    color: white;
    margin-bottom: 2vw;
}
label{
    color: white;
}

/* Styling af formularelementer */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.container-1 {
    background: linear-gradient(to right, #6A097D, #D40C52); padding: 10vw;
    height: 60vh;
}