<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/virksomhed/virksomhed.css}" rel="stylesheet">
    <title>Danmark mod Madspild</title>
  <link rel="stylesheet" href="../static/Forbruger/forbrug0.1.css">
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>

<div class="container container-1">
    <div class="content">
        <h1>Måling fører til indsigt</h1>
        <p>Forstå omfanget af madspild i din virksomhed ved nøje at måle og registrere, hvor og hvornår madspild opstår. Brug disse data til at identificere mønstre og implementere målrettede strategier for at reducere spild, forbedre bæredygtighed og øge effektiviteten.</p>
    </div>
    <div class="image">
        <img th:src="@{/images/virksomhed/Measure.jpg}" alt="Måling af Madspild">
    </div>
</div>

<div class="container container-2">
    <div class="image">
        <img th:src="@{/images/virksomhed/FoodLogistics.jpg}" alt="Optimering af Indkøb">
    </div>
    <div class="content">
        <h1>Smartere indkøb, mindre madspild</h1>
        <p>Undgå overkøb og minimer spild ved at anvende præcise data og prognoser i dine indkøbsstrategier. En smartere indkøbsproces sikrer, at du har det nødvendige uden at overskride, hvilket reducerer spild og fremmer en mere økonomisk og miljømæssig bæredygtig drift.</p>
    </div>

</div>

<div class="container container-3">
    <div class="content">
        <h1>Planlægning med omtanke</h1>
        <p>I kantiner og madordninger kan ansvarlig menu planlægning gøre en stor forskel. Ved at tilpasse menuen baseret på forbrugsmønstre, kan du reducere madspild, imødekomme din målgruppes præferencer og fremme en mere bæredygtig madkultur på arbejdspladsen.</p>
    </div>
    <div class="image">
        <img th:src="@{/images/virksomhed/Cantina.Jpg}" alt="Ansvarlig Menu Planlægning">
    </div>
</div>

<div class="container container-4">

    <div class="image">
        <img th:src="@{/images/virksomhed/Team.jpg}" alt="Uddannelse af Medarbejdere">
    </div>
    <div class="content">
        <h1>Bekæmp madspild som et hold</h1>
        <p>En veluddannet medarbejderstab er afgørende for effektivt at bekæmpe madspild. Gennem uddannelse og bevidstgørelse kan du styrke dine medarbejderes forståelse for og engagement i at minimere spild, hvilket bidrager til en mere bæredygtig virksomhedskultur.</p>
    </div>
</div>

<div class="container container-5">
    <div class="content">
        <h1>Fra spild til mulighed</h1>
        <p>Detailhandlere kan spille en nøglerolle i kampen mod madspild gennem initiativer som at donere overskudsmad, sælge varer til nedsat pris nær udløbsdatoen, og benytte tjenester som WeFood og Too Good To Go. Disse tiltag ikke alene reducerer spild, men styrker også forbrugernes bevidsthed og loyalitet.</p>
    </div>
    <div class="image">
        <img th:src="@{/images/virksomhed/Expiration.jpg}" alt="Detailhandlens Initiativer">
    </div>
</div>

<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>
