<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/virksomhed/virksomhed.css}" rel="stylesheet">
    <title>Danmark mod Madspild</title>
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>

<div class="container container-1">
    <div class="content">
        <h1>Reducer virksomhedens madspild</h1>
        <p>Madspild i virksomheder repræsenterer ikke kun et økonomisk tab, men har også en betydelig miljømæssig indvirkning. Ved at implementere strategier for at mindske madspild, kan din virksomhed spare ressourcer og bidrage til en mere bæredygtig fremtid. Vores platform giver dig værktøjerne til at gøre en forskel - begynd rejsen mod nul madspild i dag.</p>
    </div>
    <div class="image">
        <img th:src="@{/images/welcome/madspild.jpg}" alt="Credit Report">
    </div>
</div>

<div class="container container-2">
    <div class="content">
        <h1>Reducer virksomhedens madspild</h1>
        <p>Madspild i virksomheder repræsenterer ikke kun et økonomisk tab, men har også en betydelig miljømæssig indvirkning. Ved at implementere strategier for at mindske madspild, kan din virksomhed spare ressourcer og bidrage til en mere bæredygtig fremtid. Vores platform giver dig værktøjerne til at gøre en forskel - begynd rejsen mod nul madspild i dag.</p>
    </div>
    <div class="image">
        <img th:src="@{/images/welcome/madspild.jpg}" alt="Credit Report">
    </div>
</div>

<div class="container container-3">
    <div class="content">
        <h1>Reducer virksomhedens madspild</h1>
        <p>Madspild i virksomheder repræsenterer ikke kun et økonomisk tab, men har også en betydelig miljømæssig indvirkning. Ved at implementere strategier for at mindske madspild, kan din virksomhed spare ressourcer og bidrage til en mere bæredygtig fremtid. Vores platform giver dig værktøjerne til at gøre en forskel - begynd rejsen mod nul madspild i dag.</p>
    </div>
    <div class="image">
        <img th:src="@{/images/welcome/madspild.jpg}" alt="Credit Report">
    </div>
</div>

<div class="container container-4">
    <div class="content">
        <h1>Reducer virksomhedens madspild</h1>
        <p>Madspild i virksomheder repræsenterer ikke kun et økonomisk tab, men har også en betydelig miljømæssig indvirkning. Ved at implementere strategier for at mindske madspild, kan din virksomhed spare ressourcer og bidrage til en mere bæredygtig fremtid. Vores platform giver dig værktøjerne til at gøre en forskel - begynd rejsen mod nul madspild i dag.</p>
    </div>
    <div class="image">
        <img th:src="@{/images/welcome/madspild.jpg}" alt="Credit Report">
    </div>
</div>

<div class="container container-5">
    <div class="content">
        <h1>Reducer virksomhedens madspild</h1>
        <p>Madspild i virksomheder repræsenterer ikke kun et økonomisk tab, men har også en betydelig miljømæssig indvirkning. Ved at implementere strategier for at mindske madspild, kan din virksomhed spare ressourcer og bidrage til en mere bæredygtig fremtid. Vores platform giver dig værktøjerne til at gøre en forskel - begynd rejsen mod nul madspild i dag.</p>
    </div>
    <div class="image">
        <img th:src="@{/images/welcome/madspild.jpg}" alt="Credit Report">
    </div>
</div>

    <div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>

